{% extends 'portfolio/base.html' %}
{% load static %}
{%block title%}
About |
{%endblock%}

{% block menu %}

        <li class="tm-nav-item "><a href="{% url 'home'%}" class="tm-nav-link">
            <i class="fas fa-home"></i>
            Home
        </a></li>

        <li class="tm-nav-item "><a href="{% url 'blog:all_blogs'%}" class="tm-nav-link">
            <i class="fas fa-users"></i>
            PastQtns
        </a></li>
        
        <li class="tm-nav-item active"><a href="{% url 'about' %}" class="tm-nav-link">
            <i class="fas fa-pen"></i>
            About
        </a></li>

        <li class="tm-nav-item "><a href="{% url 'contact'%}" class="tm-nav-link">
            <i class="fas fa-comments"></i>
            Contact
        </a></li>

{%endblock%}

{%block content %}

    <!-- <figure>
    <img class="member" src="{% static 'img/tchio.jpg'%}">
    <em><figcaption>Tchio Fonkwa, PLET</figcaption></em>
    </figure> -->
    <hr class="tm-hr-primary tm-mb-55">
    <p><b>Welcome to our website, a platform that provides educational resources for students. Our mission is to make learning accessible and affordable for all students, and we believe that everyone should have access to the resources they need to succeed in their studies.

        On our website, you'll find a wide range of educational resources, including past questions for subjects like Computer Science, ICT, and Mathematics. These resources are designed to help students prepare for exams and improve their understanding of key concepts. Whether you're a high school student looking for extra practice or a college student looking for additional study materials, we've got you covered.
        
        In addition to past questions, we also offer other resources like revision notes, study guides, and tutorial videos. These resources are all available for free, and we constantly update our library to ensure that our users have access to the most relevant and up-to-date materials.
        
        We hope that our website will be a valuable resource for you as you work towards your academic goals. If you have any questions or feedback, don't hesitate to <a class="about" href="{%url 'contact'%}">CONTACT US</a>. We are always looking for ways to improve our platform and make it even more useful for students. Thank you for visiting us, and we hope that you find what you're looking for on our website</b> <br></p>
  
{% endblock %}
