{% extends 'portfolio/base.html' %}
{% load static %}
{%block title%}
About |
{%endblock%}
{%block menu %}
        <li class="tm-nav-item "><a href="{% url 'home'%}" class="tm-nav-link">
            <i class="fas fa-home"></i>
            Home
        </a></li>

        <li class="tm-nav-item "><a href="{% url 'blog:all_blogs'%}" class="tm-nav-link">
            <i class="fas fa-users"></i>
            Blog
        </a></li>
        
        <li class="tm-nav-item active"><a href="{% url 'about' %}" class="tm-nav-link">
            <i class="fas fa-pen"></i>
            About
        </a></li>

        <li class="tm-nav-item "><a href="{% url 'contact'%}" class="tm-nav-link">
            <i class="fas fa-comments"></i>
            Contact
        </a></li>

{%endblock%}

{%block content %}
                
{% endblock %}