{% extends 'portfolio/base.html' %}
{%load static%}
{%block title%}
Questons |
{%endblock%}
{%block menu %}

    <li class="tm-nav-item "><a href="{% url 'home'%}" class="tm-nav-link">
        <i class="fas fa-home"></i>
        Home
    </a></li>

    <li class="tm-nav-item active"><a href="{%url 'blog:all_blogs'%}" class="tm-nav-link">
        <i class="fas fa-users"></i>
        PastQtns
    </a></li>
    <li class="tm-nav-item"><a href="{% url 'about' %}" class="tm-nav-link">
        <i class="fas fa-pen"></i>
        About
    </a></li>
    <li class="tm-nav-item "><a href="{%url 'contact'%}" class="tm-nav-link">
        <i class="fas fa-comments"></i>
        Contact
    </a></li>

{%endblock%}

{%block content%}
    
    <hr class="tm-hr-primary tm-mb-55">
     
    <h2 class="tm-pt-30 tm-color-primary tm-post-title">{{blog.title}}</h2>
    <p>{{ blog.description|safe}}</p>
    {% if blog.ifram %}
    <iframe src="{{ blog.ifram|safe }}" width="100%" height="1200" allow="autoplay"></iframe>
    {% endif %}
    <p>{{ blog.date|date:'F jS Y'}}</p>
    <br>
        <h2 class="tm-color-primary tm-post-title mb-4">Comments</h2>
        {% for comment in blog.comments.all %}
            <article class="media box">
                        
                <div class="media-content">
                    <p>  <strong>{{ comment.name }}</strong>
                        <small> {{ comment.created_at|timesince }} ago </small>
                        <br>
                        {{ comment.body }} 
                        <br>
                    </p>              
                </div>
                        
            </article>
            
        {% endfor %}
          
            <br>
            <h2 class="tm-color-primary tm-post-title mb-4">Your Comment</h2>
            <div class="pnp">
                <form method="post" class="mb-6" >
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="tm-btn tm-btn-primary tm-btn-small">Comment</button>    
                </form>
            </div>


            <aside class="col-lg-4 tm-aside-col">
                <div class="tm-post-sidebar">
                    <hr class="mb-3 tm-hr-primary">
                    <h2 class="mb-4 tm-post-title tm-color-primary">Papers</h2>
                    <ul class="tm-mb-75 pl-5 tm-category-list">

                        <a class="tm-color-primary" href="{% url 'blog:all_blogs' %}">All</a>
                            {% for category in categories %}
                            <li><a href="{% url 'blog:all_blogs' %}?category={{category.name}}" class="tm-color-primary">{{category.name}}</a></li>
                            {% endfor %}

                    </ul>
                    <hr class="mb-3 tm-hr-primary">
                    <h2 class="tm-mb-40 tm-post-title tm-color-primary">Related Contents</h2>
            </aside>            
               

{%endblock%}
